* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: 'quicksandregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.border {
  border: 1px solid blue;
}
.homebox {
  width: 25%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .homebox {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .homebox {
    width: 70%;
  }
}
.homebox h3 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2%;
}
@media (max-width: 800px) {
  .homebox h3 {
    padding: 25%;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .homebox h3 {
    padding-top: 10%;
  }
}
.homebox img {
  margin-left: 37%;
  padding: 4%;
}
@media (max-width: 800px) {
  .homebox img {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  .homebox img {
    margin-left: 30%;
  }
}
.homebox p {
  width: 75%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  .homebox p {
    padding-top: 50px;
  }
}
.flex {
  display: flex;
  margin: 0 auto;
}
.teamDiv {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  .teamDiv {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .teamDiv {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
.teamDiv h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  .teamDiv h3 {
    padding-bottom: 40px;
  }
}
.teamDiv h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .teamDiv h4 {
    padding-bottom: 10px;
  }
}
.teamDiv p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  .teamDiv p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .teamDiv p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
.teamDiv .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.teamDiv img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
.teamDiv a {
  margin: 0 auto;
}
#topSec {
  display: flex;
  justify-content: center;
}
#topSec img {
  width: 90%;
  height: 500px;
}
@media (max-width: 800px) {
  #topSec img {
    height: 200px;
  }
}
#middleTop {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  justify-content: center;
  color: #2A2A2A;
}
#middleTop h2 {
  margin: 0 auto;
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 2%;
}
@media (max-width: 800px) {
  #middleTop h2 {
    font-size: 2rem;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
#middleTop p {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  #middleTop p {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
#middleTop img {
  width: 90%;
  margin: 0 auto;
  height: 400px;
}
@media (max-width: 800px) {
  #middleTop img {
    height: 200px;
  }
}
#whyText {
  width: 100%;
  color: #2A2A2A;
  display: flex;
}
#whyText h2 {
  margin: 0 auto;
  padding: 4%;
  color: #2A2A2A;
}
@media (max-width: 800px) {
  #whyText h2 {
    font-size: 2rem;
    padding-top: 50px;
    border-bottom: 2px dotted #BB1333;
  }
}
#why {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  width: 90%;
  padding-bottom: 5%;
  color: #2A2A2A;
}
@media (max-width: 800px) {
  #why {
    padding-bottom: 70px;
  }
}
#why .sign {
  width: 25%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #why .sign {
    width: 30%;
  }
}
@media (max-width: 500px) {
  #why .sign {
    width: 70%;
  }
}
#why .sign h3 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2%;
}
@media (max-width: 800px) {
  #why .sign h3 {
    padding: 25%;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  #why .sign h3 {
    padding-top: 10%;
  }
}
#why .sign img {
  margin-left: 37%;
  padding: 4%;
}
@media (max-width: 800px) {
  #why .sign img {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  #why .sign img {
    margin-left: 30%;
  }
}
#why .sign p {
  width: 75%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  #why .sign p {
    padding-top: 50px;
  }
}
.submit {
  width: 25%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .submit {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .submit {
    width: 70%;
  }
}
.submit h3 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2%;
}
@media (max-width: 800px) {
  .submit h3 {
    padding: 25%;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .submit h3 {
    padding-top: 10%;
  }
}
.submit img {
  margin-left: 37%;
  padding: 4%;
}
@media (max-width: 800px) {
  .submit img {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  .submit img {
    margin-left: 30%;
  }
}
.submit p {
  width: 75%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  .submit p {
    padding-top: 50px;
  }
}
.done {
  width: 25%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .done {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .done {
    width: 70%;
  }
}
.done h3 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2%;
}
@media (max-width: 800px) {
  .done h3 {
    padding: 25%;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .done h3 {
    padding-top: 10%;
  }
}
.done img {
  margin-left: 37%;
  padding: 4%;
}
@media (max-width: 800px) {
  .done img {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  .done img {
    margin-left: 30%;
  }
}
.done p {
  width: 75%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  .done p {
    padding-top: 50px;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 10px;
}
nav a {
  display: flex;
  margin-top: 10px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #BB1333;
}
nav a:hover {
  cursor: pointer;
  color: #6d6d6d;
  opacity: 40%;
  transition: all 0.35s ease;
}
nav button {
  border-radius: 5px;
  background-color: #BB1333;
  padding: 10px;
  padding-bottom: 25px;
  color: white;
  border: 1px solid #BB1333;
}
nav button:hover {
  cursor: pointer;
  background-color: white;
  color: #BB1333;
  border: 1px solid #BB1333;
  transition: all 0.5s ease;
}
header img {
  display: flex;
  margin: 0 auto;
  padding-bottom: 1%;
  padding-right: 10px;
}
#topSecTeam {
  display: flex;
  flex-flow: column nowrap;
  padding: 3%;
}
#topSecTeam h1 {
  color: #2A2A2A;
  margin: 0 auto;
  margin-top: -3.75%;
  margin-bottom: 5%;
  font-size: 3rem;
}
@media (max-width: 800px) {
  #topSecTeam h1 {
    font-size: 2rem;
  }
}
#topSecTeam img {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #topSecTeam img {
    width: 90%;
  }
}
@media (max-width: 500px) {
  #topSecTeam img {
    padding-bottom: 20px;
  }
}
#whyWe {
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  #whyWe {
    width: 90%;
    padding: 4%;
    border-bottom: 2px dotted #BB1333;
    border-top: 2px dotted #BB1333;
  }
}
#whyWe h2 {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  color: #2A2A2A;
}
@media (max-width: 500px) {
  #whyWe h2 {
    padding: 40px;
    padding-top: 10px;
  }
}
#whyWe p {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding: 2%;
  color: #2A2A2A;
}
@media (max-width: 800px) {
  #whyWe p {
    width: 90%;
  }
}
#teamText {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  color: #2A2A2A;
  padding: 20px;
  padding-bottom: 3%;
}
#teamText h2 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  #teamText h2 {
    padding-bottom: 20px;
  }
}
#teamText p {
  display: flex;
  margin: 0 auto;
}
#teamBox {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  width: 60%;
  color: #2A2A2A;
  text-align: center;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  #teamBox {
    width: 100%;
  }
}
#teamBox #top {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
#teamBox #top div {
  display: flex;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #teamBox #top {
    width: 100%;
    flex-flow: row wrap;
  }
}
#teamBox #bottom {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
#teamBox #bottom div {
  margin: 0 auto;
}
@media (max-width: 800px) {
  #teamBox #bottom {
    padding-bottom: 70px;
  }
}
@media (max-width: 500px) {
  #teamBox #bottom {
    flex-flow: column nowrap;
  }
}
#teamBox .mick {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  #teamBox .mick {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  #teamBox .mick {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
#teamBox .mick h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  #teamBox .mick h3 {
    padding-bottom: 40px;
  }
}
#teamBox .mick h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #teamBox .mick h4 {
    padding-bottom: 10px;
  }
}
#teamBox .mick p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  #teamBox .mick p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #teamBox .mick p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
#teamBox .mick .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#teamBox .mick img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
#teamBox .mick a {
  margin: 0 auto;
}
#teamBox .seb {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  #teamBox .seb {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  #teamBox .seb {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
#teamBox .seb h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  #teamBox .seb h3 {
    padding-bottom: 40px;
  }
}
#teamBox .seb h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #teamBox .seb h4 {
    padding-bottom: 10px;
  }
}
#teamBox .seb p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  #teamBox .seb p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #teamBox .seb p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
#teamBox .seb .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#teamBox .seb img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
#teamBox .seb a {
  margin: 0 auto;
}
#teamBox .tyler {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  #teamBox .tyler {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  #teamBox .tyler {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
#teamBox .tyler h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  #teamBox .tyler h3 {
    padding-bottom: 40px;
  }
}
#teamBox .tyler h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #teamBox .tyler h4 {
    padding-bottom: 10px;
  }
}
#teamBox .tyler p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  #teamBox .tyler p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #teamBox .tyler p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
#teamBox .tyler .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#teamBox .tyler img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
#teamBox .tyler a {
  margin: 0 auto;
}
#teamBox .mark {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  #teamBox .mark {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  #teamBox .mark {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
#teamBox .mark h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  #teamBox .mark h3 {
    padding-bottom: 40px;
  }
}
#teamBox .mark h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #teamBox .mark h4 {
    padding-bottom: 10px;
  }
}
#teamBox .mark p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  #teamBox .mark p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #teamBox .mark p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
#teamBox .mark .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#teamBox .mark img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
#teamBox .mark a {
  margin: 0 auto;
}
#teamBox .carl {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  #teamBox .carl {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  #teamBox .carl {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
#teamBox .carl h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  #teamBox .carl h3 {
    padding-bottom: 40px;
  }
}
#teamBox .carl h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #teamBox .carl h4 {
    padding-bottom: 10px;
  }
}
#teamBox .carl p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  #teamBox .carl p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #teamBox .carl p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
#teamBox .carl .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#teamBox .carl img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
#teamBox .carl a {
  margin: 0 auto;
}
#teamBox .shaq {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 800px) {
  #teamBox .shaq {
    width: 50%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  #teamBox .shaq {
    width: 100%;
    border-bottom: 2px dotted #2A2A2A;
  }
}
#teamBox .shaq h3 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  color: #BB1333;
  border: 2px dotted #BB1333;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  #teamBox .shaq h3 {
    padding-bottom: 40px;
  }
}
#teamBox .shaq h4 {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #teamBox .shaq h4 {
    padding-bottom: 10px;
  }
}
#teamBox .shaq p {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30%;
}
@media (max-width: 800px) {
  #teamBox .shaq p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #teamBox .shaq p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
#teamBox .shaq .imgs {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#teamBox .shaq img {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
#teamBox .shaq a {
  margin: 0 auto;
}
#footer {
  width: 100%;
  height: 200px;
  margin-top: 8%;
}
#footer p {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  #footer p {
    margin-top: 12%;
  }
}
