#topSec{
    display: flex;
    justify-content: center;
    img{
        width:90%;
        height: 500px;
        @media @tablet {
            height: 200px;
        }
    }
}
#middleTop{
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
    justify-content: center;
    color: @maintext;
    h2 {
        margin: 0 auto;
        font-size: 2rem;
        padding-top: 3%;
        padding-bottom: 2%;
        @media @tablet {
            font-size: 2rem;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
    p {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 3%;
        text-align: center;
        @media @tablet {
            width: 80%;
            padding-top: 10px;
            padding-bottom: 50px;
        }
    }
    img {
        width: 90%;
        margin: 0 auto;
        height: 400px;
        @media @tablet{
            height: 200px;
        }
    }
}
#whyText{
    width: 100%;
    color: @maintext;
    display: flex;

    h2{
        margin: 0 auto;
        padding: 4%;
        color: @maintext;
        @media @tablet {
            font-size: 2rem;
            padding-top: 50px;
            border-bottom: 2px dotted @red;
        }
    }
}
#why{
    display:flex;
    flex-flow:row wrap;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    color: @maintext;
    @media @tablet {
        padding-bottom: 70px;
    }
    .sign{
        .homebox();
    }
    }
    .submit{
        .homebox();
    }
    .done{
        .homebox();
    }