.border{
    border: 1px solid blue;
}
.homebox{
    width: 25%;
    margin:0 auto;
    @media @tablet{
        width:30%;
    }
    @media @mobile {
        width:70%;
    }
    h3{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        font-size: 1.5rem;
        padding: 2%;
        @media @tablet{
            padding:25%;
            font-size: 1.5rem;
        }
        @media @mobile {
            padding-top:10%;
        }
    }
    img {
        margin-left: 37%;
        padding:4%;
        @media @tablet{
            margin-left:25%;
        }
        @media @mobile {
            margin-left: 30%;
        }
    }
    p{
        width: 75%;
        margin: 0 auto;
        padding: 3%;
        text-align: center;
        @media @tablet {
            padding-top: 50px;
        }
    }
}
.flex{
    display: flex;
    margin: 0 auto;
}
.teamDiv{
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    @media @tablet {
        width: 50%;
        padding:20px;
    }
    @media @mobile {
        width: 100%;
        border-bottom:2px dotted @maintext;
    }
    h3{
        .flex();
        padding-bottom: 30px;
        font-size: 1.4rem;
        text-align: center;
        color: @red;
        .headBorder(@red);
        @media @mobile {
            padding-bottom: 40px;
        }
    }
    h4{
        .flex();
        padding-top: 10px;
        padding-bottom: 10px;
        @media @mobile {
            padding-bottom: 10px;
        }
    }
    p{
        .flex();
        padding-top: 30px;
        padding-bottom: 30%;
        @media @tablet{
            text-align: center;
        }
        @media @mobile {
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }
    .imgs{
        width: 100%;
        .flex();
    }
    img{
        // .imgCircle();
        .flex();
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width:100%;
    }
    a{
        margin: 0 auto;
    }
}
.headBorder(@color){
    border:2px dotted @color;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}