#logonav{

    width: 100%;
    margin: .25%;
    padding: 30px;
    nav {
        display:flex;
        justify-content: space-evenly;
        a{
            display: flex;
            font-size: 1.4rem;
            text-decoration: none;
            color: #BB1333;
        }
        a:hover {
            cursor: pointer;
            color: #383651;
            opacity: 40%;
        }
    }
}