#topSecTeam{
    display: flex;
    flex-flow: column nowrap;
    padding:3%;
    h1{
        margin: 0 auto;
        padding: 30px;
        padding-top:0px;
        font-size: 3rem;
    }
    p{
        width: 60%;
        display:flex;
        padding:20px;
        margin: 0 auto;
    }
}
#whyWe{
    display: flex;
    margin: 0 auto;
    flex-flow: column nowrap;
    h2{
        display: flex;
        margin: 0 auto;
        padding: 2%;
    }
    p{
        display: flex;
        margin: 0 auto;
        width:60%;
        padding: 2%;
    }
}
#teamText{
    display: flex;
    margin:0 auto;
    flex-direction: column;
    h2{
        display: flex;
        margin:0 auto;
        padding-bottom:1%;
    }
    p{
        display: flex;
        margin: 0 auto;
    }
}
#teamBox{
    display: flex;
    flex-flow:row wrap;
    width: 80%;
    margin: 0 auto;
    div{
        width: 25%;
        border: 1px solid lightblue;
        padding:60px;
        display: flex;
        flex-flow: column nowrap;
        h3{
            display: flex;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        p{
            display: flex;
            margin: 0 auto;
            padding-top: 30px;
        }
    }
}