#topSecTeam{
    display: flex;
    flex-flow: column nowrap;
    padding:3%;
    h1{
        color: @maintext;
        margin: 0 auto;
        padding: 30px;
        padding-top:0px;
        font-size: 3rem;
    }
    img{
        width: 90%;
        display: flex;
        margin: 0 auto;
    }
}
#whyWe{
    display: flex;
    margin: 0 auto;
    flex-flow: column nowrap;
    h2{
        display: flex;
        margin: 0 auto;
        padding: 2%;
    }
    p{
        display: flex;
        margin: 0 auto;
        width:60%;
        padding: 2%;
    }
}
#teamText{
    display: flex;
    margin:0 auto;
    flex-direction: column;
    h2{
        display: flex;
        margin:0 auto;
        padding-bottom:1%;
    }
    p{
        display: flex;
        margin: 0 auto;
    }
}
#teamBox{
    display: flex;
    flex-flow:row wrap;
    width: 60%;
    margin: 0 auto;
    #top{
        display:flex;
    }
    #bottom{
        display: flex;
        margin: 0 auto;
        div{
            margin:0 auto;
        }
    }
    div{
        width: 25%;
        padding:60px;
        display: flex;
        flex-flow: column nowrap;
        h3{
            display: flex;
            margin: 0 auto;
            padding-bottom: 30px;
        }
        h4{
            display: flex;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p{
            display: flex;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 30%;
        }
        img{
            // .imgCircle();
            border-radius: 50%;
            margin: 0 auto;
            display:flex;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}