#topSecTeam{
    display: flex;
    flex-flow: column nowrap;
    padding:3%;
    h1{
        color: @maintext;
        margin: 0 auto;
        margin-top: -3.75%;
        margin-bottom: 5%;
        font-size: 3rem;
        @media @tablet {
            font-size: 2rem;
        }
    }
    img{
        width: 90%;
        .flex();
        @media @tablet {
            width:90%;
        }
        @media @mobile {
            padding-bottom: 20px;
        }
    }
}
#whyWe{
    .flex();
    flex-flow: column nowrap;
    padding-bottom:40px;
    @media @tablet {
        width: 90%;
        padding: 4%;
        border-bottom: 2px dotted @red;
        border-top: 2px dotted @red;
    }
    h2{
        .flex();
        padding: 2%;
        color: @maintext;
        @media @mobile {
            padding:40px;
            padding-top: 10px;
        }
    }
    p{
        .flex();
        text-align: center;
        width:60%;
        padding: 2%;
        color: @maintext;
        @media @tablet {
            width: 90%;
        }
    }
}
#teamText{
    .flex();
    flex-direction: column;
    color: @maintext;
    padding: 20px;
    padding-bottom: 3%;
    h2{
        .flex();
        margin-bottom: 2%;
        @media @mobile {
            padding-bottom: 20px;
        }
    }
    p{
        .flex();
    }
}
#teamBox{
    .flex();
    flex-flow:row wrap;
    width: 60%;
    color: @maintext;
    text-align: center;
    margin-bottom: 5%;
    @media @tablet {
        width: 100%;
    }
    #top{
        .flex();
        width: 100%;
        div{ 
            .flex();
        }
        @media @tablet{
            width: 100%;
            flex-flow: row wrap;
        }
    }
    #bottom{
        .flex();
        div{
            margin:0 auto;
        }
        @media @tablet {
            padding-bottom:70px;
        }
        @media @mobile {
            flex-flow:column nowrap;
        }
    }
    .mick{
        .teamDiv();
    }
    .seb {
        .teamDiv();
    }
    .tyler {
        .teamDiv();
    }
    .mark{
        .teamDiv();
    }
    .carl {
        .teamDiv();
    }
    .shaq{
        .teamDiv();
    }
}